/* import da fonte */
@font-face {
    font-family: bebas neue;
    src: url(../assets/fonts/bebas_neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: abel;
    src: url(../assets/fonts/abel/Abel-Regular.ttf);
}

@font-face {
    font-family: opensans;
    src: url(../assets/fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* ☆*: .｡. o(≧▽≦)o .｡.:*☆*/

/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* código genérico */
.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* (￣y▽￣)╭ Ohohoho..... */

body {
    background-color: #080324;
}

/* desktop-first */

/* esconder o menu hamburguer */
header #menu-hamburguer {
    display: none;
}



/* header */
header {
    height: 60px;
    background-color: #F9003D;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

header nav {
    width: 600px;
}

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    font-family: bebas neue;
    font-size: 22px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* main */

/* bannner */

main .banner {
    width: 100%;
    height: 740px;
    color: white;

    background-image: url(../assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main .banner-flex {
    display: flex;

    align-items: center;
}

main .banner #banner-info {
    width: 550px;
}

main .banner #banner-info h1 {
    margin-bottom: 20px;
    font-family: bebas neue;
    font-size: 96px;
}

main .banner #banner-info p {
    margin: 20px 0 20px 0;

    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    color: #f9003d;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    border-color: #ffaf00;
}

/* sobre */

section div {
    width: 100%;
}

section {
    background-color: #080324;
    width: 100%;
    height: 800px;
}

section h1 {
    font-family: bebas neue;
    font-size: 64px;
    color: #F9003D;
    margin-top: 62px;
}

section img {
    margin-top: 64px;
    margin-bottom: 119px;
}

section h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: white;
    margin-top: 203px;
    text-transform: uppercase;
}

#outro-h1 {
    font-family: bebas neue;
    color: #ffaf00;
    font-size: 64px;

}

section p {
    color: white;
    font-family: opensans;
    font-size: 18px;
    margin-top: 29px;
    margin-bottom: 203px;
}

.sobre-flex {
    display: flex;
    align-items: center;

}

/* info */

.info-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

aside {
    background-image: url(../assets/images/imagem-fundo-info.png);
    width: 100%;
    height: 200px;
}

aside h2 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

aside p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #A259F7;
    font-weight: bold;
    text-transform: uppercase;
}

.caixinha {
    border: 2px solid #A259F7;
    width: 289px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

footer {
    background-image: url(../assets/images/imagem-fundo-endereco.png);
    width: 100%;
    height: 598px;
}

footer h1 {
    color: #ffaf00;
    font-family: bebas neue;
    font-size: 64px;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #A259F7;
    width: 435px;
    height: 88.5px;

    padding-left: 35px;
}

.caixa-endereço {
    border: 2px solid #340B65;
    background-color: #010010;
    width: 899px;
    height: 203.36px;
}

.alinhar-o-texto-da-caixa {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    position: relative;
    top: -43px;
    right: 388px;
}

footer h2 {
    color: white;
    font-size: 18px;
    font-family: opensans;
    height: 82px;
    width: 100%;

    padding-top: 65px;
}

.copyright-flex {
    background-color: #F9003D;
    display: flex;
    justify-content: center;

}


/* mobile */

@media screen and (max-width: 767px) {
    main {
        display: none;
    }



    header nav {
        position: fixed;
        top: 60px;
        left: 0;
        width: 80vw;
        height: 100vw;
        max-width: 360px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f9003d;
    }

    /* esconde o icones de barras */
    header #menu-hamburguer {
        display: block;
    }
}